header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333; /* Change the background color to your preference */
    padding: 4px 0; /* Adjust the padding as needed */
    margin: 0;
    z-index: 1; /* To ensure it's on top of other content */
}

nav {
    padding: 0 24px;
    margin: 0 auto; /* Center the nav */
    transition: padding 0.6s ease-in-out; /* Smooth transition for padding changes */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 15px 0 9px 0;
    display: flex;
    justify-content: space-between; /* Center the list horizontally */
    align-items: center; /* Center vertically within the list */
    align-self: center;

}

nav li {
    margin: 0; /* Adjust the spacing between menu items */
    text-align: center; /* Center the text within each list item */
}

.nav-text {
    text-decoration: none;
    color: #EBEBEB; /* Change the text color to your preference */
    font-family: Raleway;
    font-weight: 700;
    display: inline-block; /* Allows transform to be applied */
    transform: translateY(-1pt); /* Adjust value as needed for optical alignment */
    text-transform: uppercase;
    letter-spacing: 0.66pt;
    line-height: 1;
}

.nav-text:hover {
    color: #bebebe; /* Change the text color to your preference */
}

.rotenaple {
    margin: 0 auto; /* Center the image horizontally within the list item */
    width: 2rem;
    transform: none;
    padding: 6px;
    border-radius: 8px;
    border: none;
    background-color: #333;
}

.rotenaple:hover {
    content: url('img/rotenaple.svg');
    background-color: #EBEBEB;
}

body{
    font-family: 'IBM Plex Mono', sans-serif;
    margin: 60px 0 0 0;
    font-size: 12pt;
    font-weight: 500;
    transition: padding 0.6s ease-in-out; /* Smooth transition for padding changes */
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

h2 {
    margin: 24px 0 14px 0;
}

h3 {
    margin: 22px 0 12px 0;
}

p {
    margin: 12px 0 8px 0;
}

.languages {
    display: flex;
    justify-content: space-between; /* Distribute icons evenly */
    margin: 0 auto; /* Center the row horizontally */
    flex-wrap: wrap; /* Enable wrapping of items */
}

.languages img, .languages svg{
    flex: 1 1 45%; /* Each item can grow and shrink but starts at 45% of the container width */
    max-width: 4.5rem; /* Adjust the icon size as needed */
    margin: 0.75rem 0; /* Add some space between rows */
    aspect-ratio: 1/1;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.contact-info p {
    display: flex;
    align-items: center;
}

.contact-info p a {
    text-decoration: none;
}


ion-icon {
    /* Adjust the margin as needed */
    margin-right: 8px;
    vertical-align: middle;
}


#content {
    line-height: 1.6;
}

section{
    padding: 12px 24px 28px 24px;
    scroll-margin: 74px 0 0 0;
    overflow-y: clip;
    transition: padding 0.6s ease-in-out; /* Smooth transition for padding changes */
}

@media (min-width: 768px) { /* Adjust the min-width as needed */
    section {
        padding: 12px 20% 28px; /* Increased horizontal padding for larger screens */
    }
    nav {
        padding: 0 20%;
    }
    body{
        font-size: 14pt;
    }
}

section:nth-child(odd) {
    background-color: #EBEBEB;
}

section:last-child {
    padding-bottom:80px;
}